.button_end {
    padding-left: 90%;
    padding-top: 5px;
}

#blink {
    font-size: 20px;
    font-weight: bold;
    
}
#image_caro{
    border: .5px solid rgb(66, 248, 239);
    height: 600px;
    width: 1200px;
    object-fit: cover;
    

}
.slide{
    margin-top: 10px;
   padding-left: 2%;
}
.renown{
    padding-left: 40%;
}
#think11{
    background-image: url('pics/think11.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#push{
    height: 100px;
}
