.button_end {
    padding-left: 90%;
    padding-top: 5px;
}

#blink {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
#image_caro{
    border: .5px solid rgb(66, 248, 239);
    height: 600px;
    width: 1200px;
    object-fit: cover;
}
#caro{
   padding-left: 5%;
   background-color: aqua;
}
.renown{
    padding-left: 40%;
}
